body {
    background-color: #111;
    font-family: sans-serif;
}

a, div.links a, div.posters a, div.services a {
    background-color: #333;
    color: whitesmoke;

    padding: 1vw 2vw;
    margin: 0.75vw;
    border-radius: 0.6vw;
    text-decoration: none;
}

div {
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div a.color1 {
    background-color: #442222;
    color: white;
}

div a:hover, div.services a:hover {
    background-color: gold;
    color: black;
}

div.posters a {
    margin: 0.75vw;
    padding: 0;
    background-color: inherit;
}

div.posters img {
    width: 15vw;
    border-radius: 0.6vw;
}

div.services a {
    background-color: #555;
    display: block;
    margin: 0;
}

div.services table {
    border-spacing: 0.6vw;
}

div.services table td {
    text-align: center;
}

div.services table tr:last-child td {
    color: #555;
    font-size: 1vw;
    margin-top: 0;
    padding: 1vw;
    background-color: #232323;
    border-radius: 0.6vw;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

div.services table tr:last-child td:hover {
    color: lime;
    background-color: #333;
    cursor: default;
}

div.services table td span {
    padding: 1vw;
    background-color: #333;
    border-radius: 0.6vw;
}
