body {
    background-color: #111;

    font-family: sans-serif;
}

a {
    background-color: #333;
    color: whitesmoke;

    padding: 1vw 2vw;
    margin: 1vw;
    border-radius: 0.6vw;
    text-decoration: none;
}

div {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#posters a {
    margin: 2vw;
    padding: 0;
    background-color: inherit;
}

div#posters img {
    width: 20vw;
    border-radius: 0.6vw;
}
