body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.tv-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tv-box a {
    text-decoration: none;
}

.tv-box div.link {
    margin: 1%;
    padding: 2%;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 1.8vw;
    background-color: #121212;
}

.tv-box div.poster {
    margin: 2%;
    padding: 0px;
    width: 20%;
    border-radius: 8px;
}

.tv-box div.poster img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #444;
}
